body{
    background-color: wheat;
}
.main{
 background-color: ivory;
 max-width: 50%;
    margin: auto;
    padding: 20px;
    height: 100vh;
}

button{
    background-color: black;
    color: white;
}